<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CONN_STR" value="Data Source=ANTHONY-PC\INSTANCE_2K17_01;Database=Azure;User ID=sa;Password=Anthony@Database"/>
    <add key="BLC_MESSAGES" value="D:\DOCUMENTS\ANTHONY\PROJECTS\Project backend\App\BLC\Messages\Messages.xml"/>    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
