<header class="vlt-header">
  <div class="vlt-navbar vlt-navbar--main vlt-navbar--fixed">
    <div class="vlt-navbar-background">
    </div>
    <div class="vlt-navbar-inner">
      <div class="vlt-navbar-inner--left">
        <a class="vlt-navbar-logo" href="index.html">
          <img class="black" src="assets/img/root/logo-black.png" alt="Mikael">
          <img class="white" src="assets/img/root/logo-white.png" alt="Mikael">
        </a>
        <nav class="vlt-navbar-contacts d-none d-md-block">
          <ul>
            <li>
              <a href="tel:+79281012345">+7 (928)-101-23-45</a>
            </li>
            <li class="sep">/</li>
            <li>
              <a href="mailto:mikael.moore@gmail.com">mikael.moore@gmail.com</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="vlt-navbar-inner--right">
        <div class="d-flex align-items-center">
          <a class="vlt-menu-burger js-offcanvas-menu-open" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="round">
              <line x1="3" y1="12" x2="21" y2="12" />
              <line x1="3" y1="6" x2="21" y2="6" />
              <line x1="3" y1="18" x2="21" y2="18" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="vlt-offcanvas-menu">
  <div class="vlt-offcanvas-menu__header">
    <nav class="vlt-offcanvas-menu__locales">
      <a class="active" href="#">Eng</a>
      <a href="#">Fra</a>
      <a href="#">Ger</a>
    </nav>
    <a class="vlt-menu-burger vlt-menu-burger--opened js-offcanvas-menu-close" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="round">
        <line x1="18" y1="6" x2="6" y2="18" />
        <line x1="6" y1="6" x2="18" y2="18" />
      </svg>
    </a>
  </div>
  <nav class="vlt-offcanvas-menu__navigation">
    <ul class="sf-menu">
      <li data-menuanchor="Home">
        <a href="#Home">Home</a>
      </li>
      <li data-menuanchor="Services">
        <a href="#Services">Services</a>
      </li>
      <li data-menuanchor="Experience">
        <a href="#Experience">Experience</a>
      </li>
      <li data-menuanchor="Skills">
        <a href="#Skills">Skills</a>
      </li>
      <li data-menuanchor="Portfolio">
        <a href="#Portfolio">Portfolio</a>
      </li>
      <li data-menuanchor="Awards">
        <a href="#Awards">Awards</a>
      </li>
      <li data-menuanchor="Testimonials">
        <a href="#Testimonials">Testimonials</a>
      </li>
      <!-- <li data-menuanchor="Blog">
        <a href="#Blog">Blog</a>
      </li> -->
      <li data-menuanchor="Contact">
        <a href="#Contact">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="vlt-offcanvas-menu__footer">
    <div class="vlt-offcanvas-menu__socials">
      <a href="https://www.facebook.com/" target="_blank">Fb.</a>
      <a href="https://www.behance.net/" target="_blank">Bē.</a>
      <a href="https://twitter.com/?lang=en" target="_blank">Tw.</a>
      <a href="https://www.linkedin.com/" target="_blank">In.</a>
    </div>
    <div class="vlt-offcanvas-menu__copyright">
      <p>&copy; 2020 Copiright.<br>All rights reserved.</p>
    </div>
  </div>
</div>
<div class="vlt-site-overlay">

</div>
<div class="vlt-fixed-socials">
  <a href="https://www.facebook.com/" target="_blank">Fb.</a>
  <a href="https://www.behance.net/" target="_blank">Bē.</a>
  <a href="https://twitter.com/?lang=en" target="_blank">Tw.</a>
  <a href="https://www.linkedin.com/" target="_blank">In.</a>
</div>
