<div class="page__inner">
  <div class="panorama-slider2 revolution-slider revolution-slider__slider rev_slider" data-version="5.4.6"
    style="display:none;">
    <ul>
      <li
        data-panorama='{"image":"assets/img/panorama1.webp","autoplay":"true","mousewheelZoom":"false","smoothZoom":"true","autoplayDirection":"forward","controls":"throw","autoplaySpeed":"80","throwSpeed":"750","zoomMin":"75","zoomMax":"150","cameraFov":"75","cameraFar":"1000","sphereRadius":"100","sphereWsegments":"100","sphereHsegments":"40"}'>
        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat"
          data-lazyload="assets/img/panorama1.webp" data-no-retina="" src="assets/img/dummy.png" />
        <div class="panorama-slider2__slide">
          <div class="container panorama-slider2__slide-inner">
            <div class="panorama-slider2__title-wrapper">
              <div class="panorama-slider2__title tp-caption tp-resizeme"
                data-frames='[{"delay":200,"speed":500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"x:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
                data-height="none" data-responsive_offset="on" data-type="text" data-whitespace="nowrap"
                data-width="none">Fear Less.
                <br /> Dominate More.
              </div>
              <div class="panorama-slider2__label tp-caption tp-resizeme"
                data-frames='[{"delay":200,"speed":500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                data-height="none" data-responsive_offset="on" data-type="text" data-whitespace="nowrap"
                data-width="none">
                <div class="panorama-slider2__label-icon icofont-hand-drag2"></div>
                <div class="panorama-slider2__label-value">drag it</div>
              </div>
            </div>
            <div class="panorama-slider2__subtitle tp-caption tp-resizeme"
              data-frames='[{"delay":400,"speed":500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
              data-height="none" data-responsive_offset="on" data-type="text" data-whitespace="nowrap"
              data-width="none"> Become the Limitless Version of Yourself.
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
