.anim-delay-0 {
  animation-delay: 0s;
  animation-duration: 700ms;
}
.anim-delay-100 {
  animation-delay: 100ms;
  animation-duration: 700ms;
}
.anim-delay-200 {
  animation-delay: 200ms;
  animation-duration: 700ms;
}
.anim-delay-300 {
  animation-delay: 300ms;
  animation-duration: 700ms;
}
.anim-delay-400 {
  animation-delay: 400ms;
  animation-duration: 700ms;
}
.anim-delay-500 {
  animation-delay: 500ms;
  animation-duration: 700ms;
}
.testimomnial-card {
  background: #eb000d url(../../../assets/img/root/cartographer.png) repeat;
}
.elipse-light {
  background-image: url(../../../assets/img/root/elipse-light.png);
  animation-delay: 500ms;
}
.plus-light-pattern {
  background-image: url(../../../assets/img/root/plus-light-pattern.png);
  animation-delay: 750ms;
}
.height-75 {
  height: 75px;
}
.height-72 {
  height: 72px;
}
.height-65 {
  height: 65px;
}
.height-62 {
  height: 62px;
}
.height-58 {
  height: 58px;
}
.parallax-particle-01 {
  top: -50px;
  right: -40px;
  width: 100px;
  transition-delay: 300ms;
}
.parallax-particle-02 {
  top: 40px;
  left: -30px;
  width: 80px;
  transition-delay: 600ms;
}
.parallax-particle-03 {
  left: 30px;
  bottom: -50px;
  width: 100px;
  transition-delay: 900ms;
}
.plus-light-pattern-bottom {
  right: -40px;
  bottom: -30px;
  width: 290px;
  transition-delay: 1.2s;
}
.plus-light-pattern-top {
  right: -40px;
  top: -40px;
  width: 290px;
  transition-delay: 1.2s;
}
.red-bgrd {
  background-image: url(../../../assets/img/root/red-background.jpg);
}
.plus-dark-pattern {
  background-image: url(../../../assets/img/root/plus-dark-pattern.png);
  transition-duration: 1s;
}
.elipse-home-slide {
  background-image: url(../../../assets/img/root/elipse-home-slide.png);
  transition-duration: 1.5s;
  transition-delay: 300ms;
}
.main-img {
  background-image: url(../../../assets/img/attachment-01.png);
}
