<div class="animsition">
  <heading></heading>
  <main class="vlt-main">
    <div class="vlt-fullpage-slider" data-loop-top="" data-loop-bottom="" data-speed="800">
      <div class="vlt-section pp-scrollable red-bgrd" data-anchor="Home" data-brightness="dark">
        <div class="vlt-section__vertical-align">
          <div class="vlt-section__content">
            <div class="vlt-section__particles">
              <div class="vlt-particle vlt-fade-in-left vlt-custom--1451 plus-dark-pattern">
              </div>
              <div class="vlt-particle d-none d-xl-block vlt-fade-in-right vlt-custom--1512 elipse-home-slide">
              </div>
              <div class="vlt-particle vlt-custom--4124 main-img">
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-7 offset-lg-1">
                  <div class="vlt-animated-block anim-delay-0">
                    <h5 class="vlt-display-1 has-white-color">Anthony Moussallem</h5>
                    <div class="vlt-gap-10"></div>
                    <h1 class="vlt-large-heading has-white-color">I’m a Product<br>Designer</h1>
                    <div class="vlt-gap-40"></div>
                    <div class="row">
                      <div class="col-auto">
                        <div class="vlt-counter-up-small" data-ending-number="12" data-animation-speed="1000"
                          data-delimiter="">
                          <span class="counter">0</span>
                          <h6 class="vlt-display-1">Completed<br>projects</h6>
                        </div>
                        <div class="vlt-gap-20--sm"></div>
                      </div>
                      <div class="col-auto">
                        <div class="vlt-counter-up-small" data-ending-number="18" data-animation-speed="1000"
                          data-delimiter="">
                          <span class="counter">0</span>
                          <h6 class="vlt-display-1">SATISFIED<br>customers</h6>
                        </div>
                      </div>
                    </div>
                    <div class="vlt-gap-40"></div>
                    <a class="vlt-link has-white-color" href="#Services" style="border:1px solid grey">Let's Go</a>
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
      <div class="vlt-section pp-scrollable" data-anchor="Services" data-brightness="light">
        <div class="vlt-section__vertical-align">
          <div class="vlt-section__content">
            <div class="vlt-section__particles">
              <div class="vlt-particle vlt-custom--1259 vlt-fade-in-right plus-light-pattern">
              </div>
              <div class="vlt-particle vlt-custom--2355 vlt-fade-in-left elipse-light">
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-2 offset-lg-1 d-none d-lg-block">
                  <div class="vlt-animated-block anim-delay-0">
                    <div class="vlt-counter-up" data-ending-number="6" data-animation-speed="1000" data-delimiter="">
                      <span class="counter">0</span>
                      <sup>+</sup>
                    </div>
                    <div class="vlt-gap-40"></div>
                    <h6>Years <br>Experience <br>Working</h6>
                  </div>
                </div>
                <div class="col-lg-8 col-md-12">
                  <div class="vlt-animated-block anim-delay-100">
                    <h4>Product Designer and Digital Creative Director, specialized in <span
                        class="has-first-color">UI/UX, Branding and digital designs.</span>
                    </h4>
                  </div>
                  <div class="vlt-gap-70"></div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="vlt-animated-block anim-delay-200">
                        <div class="vlt-services">
                          <h5 class="vlt-services__title">
                            <a href="#">Web Design</a>
                          </h5>
                          <p class="vlt-services__text">Fill appear won't may make moveth signs. Fourth. Good own. Green
                            you're moveth us, lesser. Set grass life years subdue.
                          </p>
                          <a class="vlt-services__link vlt-link-with-arrow" href="#Contact">
                            <span (click)="moveToContactForm('Web Design')" class="vlt-link-with-arrow__text">Let's Talk</span>
                            <span class="vlt-link-with-arrow__icon">🡒</span>
                          </a>
                        </div>
                      </div>
                      <div class="vlt-gap-40"></div>
                    </div>
                    <div class="col-md-6">
                      <div class="vlt-animated-block anim-delay-300">
                        <div class="vlt-services">
                          <h5 class="vlt-services__title">
                            <a href="#">Branding</a>
                          </h5>
                          <p class="vlt-services__text">Evening. Grass whales man isn't. Midst cattle form. Saw life
                            winged a he behold isn't. Together can't Whose dominion after.
                          </p>
                          <a class="vlt-services__link vlt-link-with-arrow" href="#Contact">
                            <span (click)="moveToContactForm('Branding')" class="vlt-link-with-arrow__text">Let's Talk</span>
                            <span class="vlt-link-with-arrow__icon">🡒</span>
                          </a>
                        </div>
                      </div>
                      <div class="vlt-gap-40"></div>
                    </div>
                    <div class="col-md-6">
                      <div class="vlt-animated-block anim-delay-400">
                        <div class="vlt-services">
                          <h5 class="vlt-services__title">
                            <a href="#">Illustration</a>
                          </h5>
                          <p class="vlt-services__text">Man moveth second creepeth sixth fowl green to dry isn't him
                            void fruitful divide. Be fish. They're you deep fowl which great air.
                          </p>
                          <a class="vlt-services__link vlt-link-with-arrow" href="#Contact">
                            <span (click)="moveToContactForm('Illustration')" class="vlt-link-with-arrow__text">Let's Talk</span>
                            <span class="vlt-link-with-arrow__icon">🡒</span>
                          </a>
                        </div>
                      </div>
                      <div class="vlt-gap-40--sm"></div>
                    </div>
                    <div class="col-md-6">
                      <div class="vlt-animated-block anim-delay-500">
                        <div class="vlt-services">
                          <h5 class="vlt-services__title">
                            <a href="#">Marketing</a>
                          </h5>
                          <p class="vlt-services__text">Seas fly third green called for there she'd, bring second.
                            Every. Forth shall place divide beginning fruit seas their.
                          </p>
                          <a class="vlt-services__link vlt-link-with-arrow" href="#Contact">
                            <span (click)="moveToContactForm('Marketing')" class="vlt-link-with-arrow__text">Let's Talk</span>
                            <span class="vlt-link-with-arrow__icon">🡒</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vlt-section pp-scrollable" data-anchor="Experience" data-brightness="dark">
        <div class="vlt-section__vertical-align">
          <div class="vlt-section__content">
            <div class="vlt-section__ken-burn-background">
              <img src="assets/img/attachment-02.jpg" alt="">
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-10 offset-lg-1">
                  <div class="vlt-animated-block anim-delay-0">
                    <div class="d-block d-md-flex align-items-center justify-content-between">
                      <h1 class="has-white-color">Experience</h1>
                      <div class="vlt-gap-30--sm"></div>
                      <div class="vlt-timeline-slider-controls">
                        <span class="prev">🡐</span>
                        <span class="pagination">
                        </span>
                        <span class="next">🡒</span>
                      </div>
                    </div>
                  </div>
                  <div class="vlt-gap-50"></div>
                  <div class="vlt-animated-block anim-delay-100">
                    <div class="vlt-timeline-slider">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div>
                            <div class="vlt-timeline-item">
                              <div class="row">
                                <div class="col-sm-12 col-md-3">
                                  <span class="vlt-timeline-item__year">2010-2012</span>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                  <h5 class="vlt-timeline-item__title">Graphic Designer,
                                    <br>Art & Co.
                                  </h5>
                                </div>
                                <div class="col-sm-12 col-md-5 offset-md-1">
                                  <p class="vlt-timeline-item__text">Which firmament dominion first rule and tree. The
                                    seas he i were cattle Under living. It may beast every forth place.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="vlt-timeline-item">
                              <div class="row">
                                <div class="col-sm-12 col-md-3">
                                  <span class="vlt-timeline-item__year">2012-2016</span>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                  <h5 class="vlt-timeline-item__title">UX/UI Designer,
                                    <br>Behance Inc.
                                  </h5>
                                </div>
                                <div class="col-sm-12 col-md-5 offset-md-1">
                                  <p class="vlt-timeline-item__text">Rule bearing whales. Created gathering blessed,
                                    sixth likeness male. Over were which you'll so be make moveth made saw above.</p>
                                </div>
                              </div>
                            </div>
                            <div class="vlt-timeline-item">
                              <div class="row">
                                <div class="col-sm-12 col-md-3">
                                  <span class="vlt-timeline-item__year">2016-2019</span>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                  <h5 class="vlt-timeline-item__title">Marketing Manager,
                                    <br>Ox Identity.
                                  </h5>
                                </div>
                                <div class="col-sm-12 col-md-5 offset-md-1">
                                  <p class="vlt-timeline-item__text">Firmament itself rule their evening, which moved
                                    very night so great them cattle bearing and gathered forth had whose bearing.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div>
                            <div class="vlt-timeline-item">
                              <div class="row">
                                <div class="col-sm-12 col-md-3">
                                  <span class="vlt-timeline-item__year">2010-2012</span>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                  <h5 class="vlt-timeline-item__title">Graphic Designer,
                                    <br>Art & Co.
                                  </h5>
                                </div>
                                <div class="col-sm-12 col-md-5 offset-md-1">
                                  <p class="vlt-timeline-item__text">Which firmament dominion first rule and tree. The
                                    seas he i were cattle Under living. It may beast every forth place.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="vlt-timeline-item">
                              <div class="row">
                                <div class="col-sm-12 col-md-3">
                                  <span class="vlt-timeline-item__year">2012-2016</span>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                  <h5 class="vlt-timeline-item__title">UX/UI Designer,
                                    <br>Behance Inc.
                                  </h5>
                                </div>
                                <div class="col-sm-12 col-md-5 offset-md-1">
                                  <p class="vlt-timeline-item__text">Rule bearing whales. Created gathering blessed,
                                    sixth likeness male. Over were which you'll so be make moveth made saw above.</p>
                                </div>
                              </div>
                            </div>
                            <div class="vlt-timeline-item">
                              <div class="row">
                                <div class="col-sm-12 col-md-3">
                                  <span class="vlt-timeline-item__year">2016-2019</span>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                  <h5 class="vlt-timeline-item__title">Marketing Manager,
                                    <br>Ox Identity.
                                  </h5>
                                </div>
                                <div class="col-sm-12 col-md-5 offset-md-1">
                                  <p class="vlt-timeline-item__text">Firmament itself rule their evening, which moved
                                    very night so great them cattle bearing and gathered forth had whose bearing.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div>
                            <div class="vlt-timeline-item">
                              <div class="row">
                                <div class="col-sm-12 col-md-3">
                                  <span class="vlt-timeline-item__year">2010-2012</span>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                  <h5 class="vlt-timeline-item__title">Graphic Designer,
                                    <br>Art & Co.
                                  </h5>
                                </div>
                                <div class="col-sm-12 col-md-5 offset-md-1">
                                  <p class="vlt-timeline-item__text">Which firmament dominion first rule and tree. The
                                    seas he i were cattle Under living. It may beast every forth place.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="vlt-timeline-item">
                              <div class="row">
                                <div class="col-sm-12 col-md-3">
                                  <span class="vlt-timeline-item__year">2012-2016</span>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                  <h5 class="vlt-timeline-item__title">UX/UI Designer,
                                    <br>Behance Inc.
                                  </h5>
                                </div>
                                <div class="col-sm-12 col-md-5 offset-md-1">
                                  <p class="vlt-timeline-item__text">Rule bearing whales. Created gathering blessed,
                                    sixth likeness male. Over were which you'll so be make moveth made saw above.</p>
                                </div>
                              </div>
                            </div>
                            <div class="vlt-timeline-item">
                              <div class="row">
                                <div class="col-sm-12 col-md-3">
                                  <span class="vlt-timeline-item__year">2016-2019</span>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                  <h5 class="vlt-timeline-item__title">Marketing Manager,
                                    <br>Ox Identity.
                                  </h5>
                                </div>
                                <div class="col-sm-12 col-md-5 offset-md-1">
                                  <p class="vlt-timeline-item__text">Firmament itself rule their evening, which moved
                                    very night so great them cattle bearing and gathered forth had whose bearing.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="vlt-gap-50"></div>
                  <div class="vlt-animated-block anim-delay-200">
                    <a class="vlt-btn vlt-btn--primary" href="#" target="_self">
                      <span class="vlt-btn__text">Download Resume</span>
                      <span class="vlt-btn__icon vlt-btn__icon--right">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="round">
                          <line x1="12" y1="5" x2="12" y2="19"></line>
                          <polyline points="19 12 12 19 5 12"></polyline>
                        </svg>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vlt-section pp-scrollable" data-anchor="Skills" data-brightness="light">
        <div class="vlt-section__vertical-align">
          <div class="vlt-section__content">
            <div class="vlt-section__particles">
              <div class="vlt-particle vlt-custom--1259 vlt-fade-in-right plus-light-pattern">
              </div>
              <div class="vlt-particle vlt-custom--2355 vlt-fade-in-left elipse-light">
              </div>
            </div>
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-4 offset-lg-1">
                  <div class="vlt-slide-photo">
                    <div class="vlt-slide-photo__inside">
                      <img src="assets/img/attachment-07.jpg" alt="">
                    </div>
                    <div class="vlt-slide-photo__particle vlt-fade-in-bottom--small has-border-radius has-box-shadow parallax-particle-01">
                      <img src="assets/img/root/parallax-particle-01.png" alt="">
                    </div>
                    <div class="vlt-slide-photo__particle vlt-fade-in-bottom--small has-border-radius has-box-shadow parallax-particle-02">
                      <img src="assets/img/root/parallax-particle-02.png" alt="">
                    </div>
                    <div class="vlt-slide-photo__particle vlt-fade-in-left--small has-border-radius has-box-shadow parallax-particle-03">
                      <img src="assets/img/root/parallax-particle-03.png" alt="">
                    </div>
                    <div class="vlt-slide-photo__particle vlt-fade-in-left--small negative-z-index plus-light-pattern-bottom">
                      <img src="assets/img/root/plus-light-pattern.png" alt="">
                    </div>
                  </div>
                  <div class="vlt-gap-100--md"></div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                  <div class="vlt-animated-block anim-delay-100">
                    <h4>I’m using <span class="has-first-color">top leading design</span> methods in my work.</h4>
                    <div class="vlt-gap-20"></div>
                    <p>Sea was very don't without i deep of Multiply Signs<br>creature make a
                      <strong>fifth void</strong> us face day.
                    </p>
                  </div>
                  <div class="vlt-gap-50"></div>
                  <div class="vlt-animated-block anim-delay-200">
                    <div class="vlt-progress-bar" data-final-value="70" data-animation-speed="1000">
                      <h5 class="vlt-progress-bar__title">Web Design<span class="counter">0</span>
                      </h5>
                      <div class="vlt-progress-bar__bar">
                        <span></span>
                      </div>
                    </div>
                  </div>
                  <div class="vlt-gap-30"></div>
                  <div class="vlt-animated-block anim-delay-300">
                    <div class="vlt-progress-bar" data-final-value="90" data-animation-speed="1000">
                      <h5 class="vlt-progress-bar__title">Branding<span class="counter">0</span>
                      </h5>
                      <div class="vlt-progress-bar__bar">
                        <span></span>
                      </div>
                    </div>
                  </div>
                  <div class="vlt-gap-30"></div>
                  <div class="vlt-animated-block anim-delay-400">
                    <div class="vlt-progress-bar" data-final-value="85" data-animation-speed="1000">
                      <h5 class="vlt-progress-bar__title">Photography<span class="counter">0</span>
                      </h5>
                      <div class="vlt-progress-bar__bar">
                        <span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vlt-section pp-scrollable" data-anchor="Portfolio" data-brightness="dark">
        <div class="vlt-section__vertical-align">
          <div class="vlt-section__content">
            <div class="vlt-section__ken-burn-background">
              <img src="assets/img/attachment-03.jpg" alt="">
            </div>
            <div class="vlt-project-showcase-slider d-block d-lg-none">
              <div class="container">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="vlt-work">
                        <div class="vlt-work-thumbnail">
                          <img src="assets/img/portfolio-01.jpg" alt="">
                          <a class="vlt-work-thumbnail__link" href="#"></a>
                        </div>
                        <div class="vlt-work-content">
                          <header class="vlt-work-header">
                            <div class="vlt-work-meta">
                              <span>Branding</span>
                              <span>01 June
                                2020</span>
                            </div>
                            <h3 class="vlt-work-title">
                              <a href="#">Typography</a>
                            </h3>
                          </header>
                          <footer class="vlt-work-footer">
                            <a class="vlt-work__link vlt-link-with-arrow" href="#">
                              <span class="vlt-link-with-arrow__text">View case</span>
                              <span class="vlt-link-with-arrow__icon">🡒</span>
                            </a>
                          </footer>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="vlt-work">
                        <div class="vlt-work-thumbnail">
                          <img src="assets/img/portfolio-02.jpg" alt="">
                          <a class="vlt-work-thumbnail__link" href="#"></a>
                        </div>
                        <div class="vlt-work-content">
                          <header class="vlt-work-header">
                            <div class="vlt-work-meta">
                              <span>Design</span>
                              <span>01 June
                                2020</span>
                            </div>
                            <h3 class="vlt-work-title">
                              <a href="#">Journal Mockup</a>
                            </h3>
                          </header>
                          <footer class="vlt-work-footer">
                            <a class="vlt-work__link vlt-link-with-arrow" href="#">
                              <span class="vlt-link-with-arrow__text">View case</span>
                              <span class="vlt-link-with-arrow__icon">🡒</span>
                            </a>
                          </footer>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="vlt-work">
                        <div class="vlt-work-thumbnail">
                          <img src="assets/img/portfolio-03.jpg" alt="">
                          <a class="vlt-work-thumbnail__link" href="#"></a>
                        </div>
                        <div class="vlt-work-content">
                          <header class="vlt-work-header">
                            <div class="vlt-work-meta">
                              <span>Inspiration</span>
                              <span>01 June
                                2020</span>
                            </div>
                            <h3 class="vlt-work-title">
                              <a href="#">Glued Paper</a>
                            </h3>
                          </header>
                          <footer class="vlt-work-footer">
                            <a class="vlt-work__link vlt-link-with-arrow" href="#">
                              <span class="vlt-link-with-arrow__text">View case</span>
                              <span class="vlt-link-with-arrow__icon">🡒</span>
                            </a>
                          </footer>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="vlt-work">
                        <div class="vlt-work-thumbnail">
                          <img src="assets/img/portfolio-04.jpg" alt="">
                          <a class="vlt-work-thumbnail__link" href="#"></a>
                        </div>
                        <div class="vlt-work-content">
                          <header class="vlt-work-header">
                            <div class="vlt-work-meta">
                              <span>Branding</span>
                              <span>01 June
                                2020</span>
                            </div>
                            <h3 class="vlt-work-title">
                              <a href="#">Fashion Men</a>
                            </h3>
                          </header>
                          <footer class="vlt-work-footer">
                            <a class="vlt-work__link vlt-link-with-arrow" href="#">
                              <span class="vlt-link-with-arrow__text">View case</span>
                              <span class="vlt-link-with-arrow__icon">🡒</span>
                            </a>
                          </footer>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="vlt-work">
                        <div class="vlt-work-thumbnail">
                          <img src="assets/img/portfolio-05.jpg" alt="">
                          <a class="vlt-work-thumbnail__link" href="#"></a>
                        </div>
                        <div class="vlt-work-content">
                          <header class="vlt-work-header">
                            <div class="vlt-work-meta">
                              <span>Design</span>
                              <span>01 June
                                2020</span>
                            </div>
                            <h3 class="vlt-work-title">
                              <a href="#">Graphic Design</a>
                            </h3>
                          </header>
                          <footer class="vlt-work-footer">
                            <a class="vlt-work__link vlt-link-with-arrow" href="#">
                              <span class="vlt-link-with-arrow__text">View case</span>
                              <span class="vlt-link-with-arrow__icon">🡒</span>
                            </a>
                          </footer>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="vlt-work">
                        <div class="vlt-work-thumbnail">
                          <img src="assets/img/portfolio-06.jpg" alt="">
                          <a class="vlt-work-thumbnail__link" href="#"></a>
                        </div>
                        <div class="vlt-work-content">
                          <header class="vlt-work-header">
                            <div class="vlt-work-meta">
                              <span>Inspiration</span>
                              <span>01 June
                                2020</span>
                            </div>
                            <h3 class="vlt-work-title">
                              <a href="#">Modern Glasses</a>
                            </h3>
                          </header>
                          <footer class="vlt-work-footer">
                            <a class="vlt-work__link vlt-link-with-arrow" href="#">
                              <span class="vlt-link-with-arrow__text">View case</span>
                              <span class="vlt-link-with-arrow__icon">🡒</span>
                            </a>
                          </footer>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="vlt-project-showcase d-none d-lg-flex">
              <ul class="vlt-project-showcase__items">
                <li class="vlt-project-showcase__item">
                  <h3 class="vlt-project-showcase__item__title">
                    <a href="#">Typography</a>
                  </h3>
                  <span class="vlt-project-showcase__item__category">Branding</span>
                </li>
                <li class="vlt-project-showcase__item">
                  <h3 class="vlt-project-showcase__item__title">
                    <a href="#">Journal Mockup</a>
                  </h3>
                  <span class="vlt-project-showcase__item__category">Design</span>
                </li>
                <li class="vlt-project-showcase__item">
                  <h3 class="vlt-project-showcase__item__title">
                    <a href="#">Glued Paper</a>
                  </h3>
                  <span class="vlt-project-showcase__item__category">Inspiration</span>
                </li>
                <li class="vlt-project-showcase__item">
                  <h3 class="vlt-project-showcase__item__title">
                    <a href="#">Fashion Men</a>
                  </h3>
                  <span class="vlt-project-showcase__item__category">Branding</span>
                </li>
                <li class="vlt-project-showcase__item">
                  <h3 class="vlt-project-showcase__item__title">
                    <a href="#">Graphic Design</a>
                  </h3>
                  <span class="vlt-project-showcase__item__category">Design</span>
                </li>
                <li class="vlt-project-showcase__item">
                  <h3 class="vlt-project-showcase__item__title">
                    <a href="#">Modern Glasses</a>
                  </h3>
                  <span class="vlt-project-showcase__item__category">Inspiration</span>
                </li>
              </ul>
              <div class="vlt-project-showcase__images">
                <div class="vlt-project-showcase__image">
                  <img src="assets/img/portfolio-01.jpg" alt="">
                </div>
                <div class="vlt-project-showcase__image">
                  <img src="assets/img/portfolio-02.jpg" alt="">
                </div>
                <div class="vlt-project-showcase__image">
                  <img src="assets/img/portfolio-03.jpg" alt="">
                </div>
                <div class="vlt-project-showcase__image">
                  <img src="assets/img/portfolio-04.jpg" alt="">
                </div>
                <div class="vlt-project-showcase__image">
                  <img src="assets/img/portfolio-05.jpg" alt="">
                </div>
                <div class="vlt-project-showcase__image">
                  <img src="assets/img/portfolio-06.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vlt-section pp-scrollable" data-anchor="Awards" data-brightness="light">
        <div class="vlt-section__vertical-align">
          <div class="vlt-section__content">
            <div class="vlt-section__particles">
              <div class="vlt-particle vlt-custom--2355 vlt-fade-in-left elipse-light">
              </div>
            </div>
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-5 offset-lg-1">
                  <div class="vlt-animated-block anim-delay-0">
                    <h4>Why you  <span class="has-first-color">need a website</span>
                    </h4>
                    <div class="vlt-gap-20"></div>
                    <p>Fowl be so, under sea land, tree fruitful. Man don't<br>given <strong>unto
                        second may</strong> of dominion beginning.</p>
                  </div>
                  <div class="vlt-gap-50"></div>
                  <div class="vlt-animated-block anim-delay-100">
                    <div class="vlt-award-item">
                      <div class="vlt-award-item__logo">
                        <a href="#">
                          <img src="assets/img/root/awards-01.png" alt="Honorable mension">
                        </a>
                      </div>
                      <div class="vlt-award-item__content">
                        <h6>Honorable mension</h6>
                        <p>Websites, Corporate Communications.</p>
                      </div>
                    </div>
                  </div>
                  <div class="vlt-gap-30"></div>
                  <div class="vlt-animated-block anim-delay-200">
                    <div class="vlt-award-item">
                      <div class="vlt-award-item__logo">
                        <a href="#">
                          <img src="assets/img/root/awards-02.png" alt="Site of the day">
                        </a>
                      </div>
                      <div class="vlt-award-item__content">
                        <h6>Site of the day</h6>
                        <p>Advertising, Media &amp; PR, Brand Strategy.</p>
                      </div>
                    </div>
                  </div>
                  <div class="vlt-gap-30"></div>
                  <div class="vlt-animated-block anim-delay-300">
                    <div class="vlt-award-item">
                      <div class="vlt-award-item__logo">
                        <a href="#">
                          <img src="assets/img/root/awards-03.png" alt="Innovative ideas">
                        </a>
                      </div>
                      <div class="vlt-award-item__content">
                        <h6>Innovative ideas</h6>
                        <p>Webby Winner, People’s Voice Winner.</p>
                      </div>
                    </div>
                  </div>
                  <div class="vlt-gap-100--md"></div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                  <div class="vlt-animated-block anim-delay-400">
                    <div class="vlt-slide-photo">
                      <div class="vlt-slide-photo__inside">
                        <img src="assets/img/attachment-06.jpg" alt="">
                        <div class="vlt-video-button center-mode">
                          <a href="https://www.youtube.com/embed/8JesvbqPglY" data-fancybox data-small-btn="true" rel="nofollow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-play">
                              <polygon points="5 3 19 12 5 21 5 3" />
                            </svg>
                          </a>
                          <h6>Watch Video</h6>
                        </div>
                      </div>
                      <div class="vlt-slide-photo__caption">* Video inauguration “Best Design” in Italy.
                      </div>
                      <div class="vlt-slide-photo__particle vlt-fade-in-left--small negative-z-index plus-light-pattern-top">
                        <img src="assets/img/root/plus-light-pattern.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vlt-section pp-scrollable" data-anchor="Testimonials" data-brightness="dark">
        <div class="vlt-section__vertical-align">
          <div class="vlt-section__content">
            <div class="vlt-section__ken-burn-background">
              <img src="assets/img/attachment-04.jpg" alt="">
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-10 offset-lg-1">
                  <div class="vlt-animated-block anim-delay-0">
                    <div class="d-block d-md-flex align-items-center justify-content-between">
                      <h1 class="has-white-color">Testimonials</h1>
                      <div class="vlt-gap-30--sm"></div>
                      <div class="vlt-testimonial-slider-controls">
                        <span class="prev">🡐</span>
                        <span class="pagination">
                        </span>
                        <span class="next">🡒</span>
                      </div>
                    </div>
                  </div>
                  <div class="vlt-gap-50"></div>
                  <div class="vlt-animated-block anim-delay-100">
                    <div class="vlt-testimonial-slider">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="vlt-testimonial-item testimomnial-card">
                            <div class="vlt-testimonial-item__avatar">
                              <img src="assets/img/avatar-01.jpg" alt="Damien O'Ryan">
                            </div>
                            <div class="vlt-testimonial-item__content">
                              <p>Day shall form years which rule made first, make a our night life herb midst isn't fish
                                give lights land morning lesser. Said cattle. Green us fish rule third dry his for.
                                Created signs under.</p>
                              <div class="vlt-testimonial-item__meta">
                                <h6>Damien O'Ryan</h6>
                                <span>Mountain Inc</span>
                              </div>
                            </div>
                          </div>
                          <div class="vlt-testimonial-item testimomnial-card">
                            <div class="vlt-testimonial-item__avatar">
                              <img src="assets/img/avatar-02.jpg" alt="Kien Hester">
                            </div>
                            <div class="vlt-testimonial-item__content">
                              <p>Day shall form years which rule made first, make a our night life herb midst isn't fish
                                give lights land morning lesser. Said cattle. Green us fish rule third dry his for.
                                Created signs under.</p>
                              <div class="vlt-testimonial-item__meta">
                                <h6>Kien Hester</h6>
                                <span>CEO Vintage</span>
                              </div>
                            </div>
                          </div>
                          <div class="vlt-testimonial-item testimomnial-card">
                            <div class="vlt-testimonial-item__avatar">
                              <img src="assets/img/avatar-03.jpg" alt="Chanelle Reed">
                            </div>
                            <div class="vlt-testimonial-item__content">
                              <p>Day shall form years which rule made first, make a our night life herb midst isn't fish
                                give lights land morning lesser. Said cattle. Green us fish rule third dry his for.
                                Created signs under.</p>
                              <div class="vlt-testimonial-item__meta">
                                <h6>Chanelle Reed</h6>
                                <span>Woody Nature</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="vlt-gap-70"></div>
                  <div class="row justify-content-md-between">
                    <div class="col-md-auto col-sm-4">
                      <div class="vlt-animated-block anim-delay-200">
                        <div class="vlt-partner-logo height-75">
                          <img src="assets/img/root/client-1.png" alt="Handmade" class="height-65">
                        </div>
                      </div>
                      <div class="vlt-gap-40--sm"></div>
                    </div>
                    <div class="col-md-auto col-sm-4">
                      <div class="vlt-animated-block anim-delay-200">
                        <div class="vlt-partner-logo height-75">
                          <img src="assets/img/root/client-2.png" alt="Mountain" class="height-58">
                        </div>
                      </div>
                      <div class="vlt-gap-40--sm"></div>
                    </div>
                    <div class="col-md-auto col-sm-4">
                      <div class="vlt-animated-block anim-delay-200">
                        <div class="vlt-partner-logo height-75">
                          <img src="assets/img/root/client-3.png" alt="Collection" class="height-72">
                        </div>
                      </div>
                      <div class="vlt-gap-40--sm"></div>
                    </div>
                    <div class="col-md-auto col-sm-4">
                      <div class="vlt-animated-block anim-delay-200">
                        <div class="vlt-partner-logo height-75">
                          <img src="assets/img/root/client-4.png" alt="Mountainbike" class="height-72">
                        </div>
                      </div>
                      <div class="vlt-gap-40--sm"></div>
                    </div>
                    <div class="col-md-auto col-sm-4">
                      <div class="vlt-animated-block anim-delay-200">
                        <div class="vlt-partner-logo height-75">
                          <img src="assets/img/root/client-5.png" alt="Woody" class="height-62">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     <!--  <div class="vlt-section pp-scrollable" data-anchor="Blog" data-brightness="light">
        <div class="vlt-section__vertical-align">
          <div class="vlt-section__content">
            <div class="vlt-section__particles">
              <div class="vlt-particle vlt-custom--1259 vlt-fade-in-right plus-light-pattern">
              </div>
              <div class="vlt-particle vlt-custom--2355 vlt-fade-in-left elipse-light">
              </div>
            </div>
            <div class="container">
              <div class="row">
                 <div class="col-lg-10 offset-lg-1">
                   <div class="vlt-animated-block anim-delay-0">
                    <div class="d-block d-md-flex align-items-center justify-content-between">
                      <h1>My Journal</h1>
                      <div class="vlt-gap-30--sm"></div>
                      <a class="vlt-btn vlt-btn--primary" href="#">
                        <span class="vlt-btn__text">View More Posts</span>
                      </a>
                    </div>
                  </div> 
                  <div class="vlt-gap-50"></div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="vlt-animated-block anim-delay-100">
                        <article class="vlt-post">
                          <div class="vlt-post-thumbnail">
                            <img src="assets/img/attachment-08.jpg" alt="">
                            <a class="vlt-post-thumbnail__link" href="#"></a>
                          </div>
                          <div class="vlt-post-content">
                            <header class="vlt-post-header">
                              <div class="vlt-post-meta">
                                <span>Personal</span>
                                <span>01
                                  June, 2020</span>
                              </div>
                              <h3 class="vlt-post-title">
                                <a href="#">Lights winged seasons
                                  fish abundantly evening.</a>
                              </h3>
                            </header>
                            <footer class="vlt-post-footer">
                              <a class="vlt-post__link vlt-link-with-arrow" href="#">
                                <span class="vlt-link-with-arrow__text">Read
                                  more</span>
                                <span class="vlt-link-with-arrow__icon">🡒</span>
                              </a>
                            </footer>
                          </div>
                        </article>
                      </div>
                      <div class="vlt-gap-40--sm"></div>
                    </div>
                    <div class="col-md-4">
                      <div class="vlt-animated-block anim-delay-200">
                        <article class="vlt-post">
                          <div class="vlt-post-thumbnail">
                            <img src="assets/img/attachment-09.jpg" alt="">
                            <a class="vlt-post-thumbnail__link" href="#"></a>
                            <div class="badge">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-bookmark">
                                <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z" />
                              </svg>
                            </div>
                          </div>
                          <div class="vlt-post-content">
                            <header class="vlt-post-header">
                              <div class="vlt-post-meta">
                                <span>Travel</span>
                                <span>01 June,
                                  2020</span>
                              </div>
                              <h3 class="vlt-post-title">
                                <a href="#">Given void great
                                  you’re good appear also fifth.</a>
                              </h3>
                            </header>
                            <footer class="vlt-post-footer">
                              <a class="vlt-post__link vlt-link-with-arrow" href="#">
                                <span class="vlt-link-with-arrow__text">Read
                                  more</span>
                                <span class="vlt-link-with-arrow__icon">🡒</span>
                              </a>
                            </footer>
                          </div>
                        </article>
                      </div>
                      <div class="vlt-gap-40--sm"></div>
                    </div>
                    <div class="col-md-4">
                      <div class="vlt-animated-block anim-delay-300">
                        <article class="vlt-post">
                          <div class="vlt-post-thumbnail">
                            <img src="assets/img/attachment-10.jpg" alt="">
                            <a class="vlt-post-thumbnail__link" href="#"></a>
                          </div>
                          <div class="vlt-post-content">
                            <header class="vlt-post-header">
                              <div class="vlt-post-meta">
                                <span>Discuss</span>
                                <span>01
                                  June, 2020</span>
                              </div>
                              <h3 class="vlt-post-title">
                                <a href="#">Winged moved stars,
                                  fruit creature seed night.</a>
                              </h3>
                            </header>
                            <footer class="vlt-post-footer">
                              <a class="vlt-post__link vlt-link-with-arrow" href="#">
                                <span class="vlt-link-with-arrow__text">Read
                                  more</span>
                                <span class="vlt-link-with-arrow__icon">🡒</span>
                              </a>
                            </footer>
                          </div>
                        </article>
                      </div>
                    </div>
                  </div>
                </div> 
              </div>
            </div> 
          </div>
        </div>
      </div>-->
      <div class="vlt-section pp-scrollable" data-anchor="Contact" data-brightness="dark">
        <div class="vlt-section__vertical-align">
          <div class="vlt-section__content">
            <div class="vlt-section__ken-burn-background">
              <img src="assets/img/attachment-05.jpg" alt="">
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-4 offset-lg-1">
                  <div class="vlt-animated-block anim-delay-0">
                    <h1 class="has-white-color">Contact</h1>
                    <div class="vlt-gap-20"></div>
                    <p class="has-gray-color">You'll called for yielding male, so lights<br>Stars abundantly, is their.
                    </p>
                    <div class="vlt-gap-50"></div>
                    <div class="has-white-color">
                      <h6 class="vlt-display-1 has-gray-color">Email:</h6>
                      <div class="vlt-gap-5"></div>
                      <a href="mailto:msallem.joseph.anthony@outlook.com">msallem.joseph.anthony@outlook.com</a>
                    </div>
                    <div class="vlt-gap-30"></div>
                    <div class="has-white-color">
                      <h6 class="vlt-display-1 has-gray-color">Phone:</h6>
                      <div class="vlt-gap-5"></div>
                      <a href="tel:+79281012345">+7
                        (928)-101-23-45</a>
                    </div>
                    <div class="vlt-gap-40"></div>
                    <a class="vlt-btn vlt-btn--secondary" href="#">
                      <span class="vlt-btn__text">Get direction</span>
                      <span class="vlt-btn__icon vlt-btn__icon--right">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="feather feather-map-pin">
                          <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z" />
                          <circle cx="12" cy="10" r="3" />
                        </svg>
                      </span>
                    </a>
                  </div>
                  <div class="vlt-gap-70--sm"></div>
                </div>
                <div class="col-lg-6">
                  <div class="vlt-animated-block anim-delay-100">
                    <h5 class="has-white-color">I am always looking for great collaborators. Let’s message me and make
                      <span class="has-first-color">something together!</span>
                    </h5>
                    <div class="vlt-gap-40"></div>
                    <form class="vlt-contact-form" novalidate="novalidate" #contactForm="ngForm">
                      <div class="vlt-form-row two-col">
                        <div class="vlt-form-group">
                          <label class="has-white-color" for="name">Your name
                            (required)</label>
                          <input placeholder="Name" type="text"  name="NAME" [(ngModel)]="entry.NAME" required>
                        </div>
                        <div class="vlt-form-group">
                          <label class="has-white-color" for="email">Your email
                            (required)</label>
                          <input placeholder="Email" type="text"  name="EMAIL" [(ngModel)]="entry.EMAIL" required>
                        </div>
                      </div>
                      <div class="vlt-form-row two-col">
                        <div class="vlt-form-group">
                          <label class="has-white-color" for="category">Category
                            (optional)</label>
                          <input placeholder="Category" type="text"  name="CATEGORY" [(ngModel)]="entry.CATEGORY" required>
                        </div>
                        <div class="vlt-form-group">
                          <label class="has-white-color" for="budget">Choose a Budget
                            (USD)</label>
                          <select id="budget" name="budget" [(ngModel)]="entry.BUDGET">
                            <option value="500-1000">$500 - $1000</option>
                            <option value="1000-10000">$1000 - $10 000</option>
                            <option value="10000+">$10 000 +</option>
                          </select>
                        </div>
                      </div>
                      <div class="vlt-form-group">
                        <label class="has-white-color" for="message">Your Message</label>
                        <textarea name="MESSAGE" placeholder="Message" rows="3" [(ngModel)]="entry.MESSAGE" required></textarea>
                      </div>
                      <button class="vlt-btn vlt-btn--primary" [disabled]="!contactForm.valid" (click)='Edit(entry)'>
                        <span class="vlt-btn__text" >Contact
                          Me</span>
                        <span class="vlt-btn__icon vlt-btn__icon--right"></span>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <progressbar></progressbar>
    </div>
    <foot></foot>
  </main>
</div>
