.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.centrelize{
    min-width: 40%;
}
.center-button{
    display: flex;
    justify-content: center;
}